PORT=5005
FRONTEND_URL=http://127.0.0.1:5005
ALLOW_PUBLIC_REGISTRATION=true
SPOTIFY_MARKET=FR

# Add your own Spotify app credentials here if you want Spotify features.
SPOTIFY_CLIENT_ID=792c4ac1c6a740888da93920852dfea5
SPOTIFY_CLIENT_SECRET=4d1b7ab52ec5419f978773b831409949
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5005/callback

# Leave empty to let NeonWave generate a strong local secret.
JWT_SECRET="fafebd95fda4c5a4edd324046954346e92596b3ebd9565e5bbabe3a8397158a189d6fdb5245f02eb419cf5f274eb011c"
